﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voucher</title>

    <environment include="Development">
        <!-- Bootstrap core CSS     -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <!-- DataTables -->
        <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- Animation library for notifications   -->
        <link href="~/css/animate.min.css" rel="stylesheet"/>      
        <!--  Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

        <!--  Paper Dashboard core CSS    -->
        <link href="~/css/adminlte.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/css/_all-skins.css" />

        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <link href="~/css/demo.css" rel="stylesheet" />

        <link href="~/css/themify-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
            
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" href=" https://printjs-4de6.kxcdn.com/print.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    </environment>
    <environment exclude="Development">
        <!-- Bootstrap core CSS     -->
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <!-- DataTables -->
        <link rel="stylesheet" href="~/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- Animation library for notifications   -->
        <link href="~/css/animate.min.css" rel="stylesheet"/>      
        <!--  Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

        <!--  Paper Dashboard core CSS    -->
        <link href="~/css/adminlte.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/css/_all-skins.css" />

        <link href="~/css/themify-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
            
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
        <link rel="stylesheet" href=" https://printjs-4de6.kxcdn.com/print.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    </environment>
</head>
<body class="hold-transition skin-green sidebar-mini">
@* Register the WebClientPrint script code. *@
@Html.Raw(Neodynamic.SDK.Web.WebClientPrint.CreateScript(Url.Action("ProcessRequest", "WebClientPrintAPI", null, Url.ActionContext.HttpContext.Request.Scheme), Url.Action("PrintVoucher", "Product", null, Url.ActionContext.HttpContext.Request.Scheme), Url.ActionContext.HttpContext.Session.Id))
    <div class="wrapper">

        <header class="main-header">

            <a class="logo">

                <span class="logo-mini"><b>C</b>P</span>

                <span class="logo-lg"><b>Control</b> Panel</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">Welcome @User.Claims.FirstOrDefault(c => c.Type.Equals("emails"))?.Value!</span>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            <a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown user user-menu">
                            <a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
                        </li>
                    }
                    </ul>
                </div>
            </nav>
        </header>
        <!--This is the main sidebar itself-->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Dashboard</li>
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                @if (User.IsInRole("Administrator"))
                {
                    <li>
                        <a asp-action="Index" asp-controller="Product">
                            <i class="fa fa-home"></i>
                            <span>Products</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Sales" asp-controller="Home">
                            <i class="fa fa-home"></i>
                            <span>Sales</span>
                        </a>
                    </li>
                }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!--this is the main content-->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!--This is the footer-->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright &copy; 2017 <a href="#">Heuristix</a>.</strong> All rights reserved.
        </footer>


    </div>

<environment include="Development">
    <!-- Core JS Files -->
    <script src="~/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- DataTables -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="~/js/adminlte.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            $('#eventsTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });
    </script>
    <script type="text/javascript">

        var wcppGetPrintersDelay_ms = 5000; //5 sec

        function wcpGetPrintersOnSuccess(){
            // Display client installed printers
            if(arguments[0].length > 0){
                var p=arguments[0].split("|");
                var options = '';
                for (var i = 0; i < p.length; i++) {
                    options += '<option>' + p[i] + '</option>';
                }
                $('#installedPrintersList').html(options);
                $('#installedPrintersList').focus();                                        
            }else{
                alert("No printers are installed in your system.");
            }
        }

        function wcpGetPrintersOnFailure() {
            // Do something if printers cannot be got from the client
            alert("No printers are installed in your system.");
        }

    </script>
</environment>
<environment exclude="Development">
    <!-- Core JS Files -->
    <script src="~/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>

    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- DataTables -->
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="~/js/adminlte.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#eventsTable').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false
            });
        });
    </script>
    <script type="text/javascript">

        var wcppGetPrintersDelay_ms = 5000; //5 sec

        function wcpGetPrintersOnSuccess() {
            // Display client installed printers
            if (arguments[0].length > 0) {
                var p = arguments[0].split("|");
                var options = '';
                for (var i = 0; i < p.length; i++) {
                    options += '<option>' + p[i] + '</option>';
                }
                $('#installedPrintersList').html(options);
                $('#installedPrintersList').focus();
            } else {
                alert("No printers are installed in your system.");
            }
        }

        function wcpGetPrintersOnFailure() {
            // Do something if printers cannot be got from the client
            alert("No printers are installed in your system.");
        }

    </script>

</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
