@using Microsoft.Extensions.Options
@using VoucherSystem.Extensions

@inject IOptions<AzureAdB2COptions> AzureAdB2COptions

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        @if (!string.IsNullOrEmpty(AzureAdB2COptions.Value.EditProfilePolicyId))
        {
            <li><a asp-area="" asp-controller="Account" asp-action="EditProfile">Hello @User.Claims.FirstOrDefault(c => c.Type.Equals("emails"))?.Value!</a></li>
        }
        else
        {
            <li class="navbar-text">Hello @User.Claims.FirstOrDefault(c => c.Type.Equals("emails"))?.Value!</li>
        }
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a></li>
    </ul>
}
