﻿@model VoucherSystem.ViewModels.ProductViewModel
<div class="container-fluid">
    <div class="row">
        <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-fill">Back</a>
    </div>
    <br/>
    <div class="row">
        <form asp-action="Create" enctype="multipart/form-data">
            
            <div class="col-md-3">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Image Uploader</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="img-responsive pad" src="https://dummyimage.com/mediumrectangle/222222/eeeeee" alt="Photo" id="imgPreview">
                        <div class="text-center">
                            <input type="file" class="btn btn-sm btn-warning" asp-for="Image" value="Image" onchange="previewFile(this)" accept="image/*">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <div class="col-md-9">
                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Insert Product Details</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Product Name" asp-for="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Product Price</label>
                                    <input type="number" class="form-control border-input" placeholder="Product Price" asp-for="Price" min="0">
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Product Quantity</label>
                                    <input type="number" class="form-control border-input" placeholder="Product Quantity" asp-for="Quantity" min="0">
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-fill btn-wd">Create</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </form>
    </div>
</div>