﻿@model IEnumerable<VoucherSystem.Models.Category>

<div class="container-fluid">
    <div class="row">
        <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Add New Category</a>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Products</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="eventsTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                          
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@(Model.ToList().IndexOf(category) + 1)</td>
                                    <td>@category.Name</td>
                                    <td> &#8358;@($"{category.Price:N}")</td>
                                    <td>@category.Quantity</td>
                                    <td>
                                        <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>
