﻿@model IEnumerable<VoucherSystem.Models.PrinterObject>

<div id="print-output" class="hidden" style="display: none">
       <div id="hidden_div">
           <div class="text-center" id="template" style="text-align: center">
               @foreach (var voucher in Model)
               {
                   <div class="text-center">
                       <h2>Jamrock Voucher</h2>
                       <h3>Jamrock Tropicana</h3>
                  <p>_____________________________________________________________</p>
                       <h3>@voucher.Product</h3>
                       <h3>Price &#8358; @voucher.Price</h3>                
                       <h4>Sales Person: @User.Claims.FirstOrDefault(c => c.Type.Equals("emails"))?.Value</h4>                  
                   </div>
                   <p>@ViewData["date"]</p>
                   <p>@ViewData["time"]</p>
                   <h4>@(Model.ToList().IndexOf(voucher) + 1) of @Model.Count()</h4>
                   <h5>Total Vouchers: @Model.Count()</h5>
                   <p>Thank You</p>
                   <p>Powered by Heuristixs</p>  
                   <p>#: @(Guid.NewGuid().ToString())</p>
                   <p>********CUT HERE************</p>
               }
           </div>
      </div>
</div>



