﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<VoucherSystem.Models.Category>

<div class="container-fluid">
    <div>
        @*<a class="btn btn-success" onclick="javascript:jsWebClientPrint.print()">Print Vouchers</a>*@
        <button class="btn btn-success" onclick="PrintVouchers()" id="printButton">Print Vouchers</button>
    </div>
    
    <div id="print-target"> </div>
    <br />
    <hr />
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-3">
                <div class="box box-warning box-solid collapsed-box">
                    <div class="box-header with-border">
                        <h5 class="box-title">@category.Name &#8358;@($"{category.Price:N}")</h5>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="text-center">
                            <img src="@category.ImageUrl" class="img-responsive" style="width: 250px; height: 250px;" />
                        </div>
                        <div class="row" id="row">
                            @for (var i = 1; i < 10; i++)
                            {
                                <div class="col-md-3" style="margin: 5px;" id="@category.Price">
                                    <span class="button-checkbox" id="@category.Id">
                                        @if (i > category.Quantity)
                                        {
                                            <button type="button" class="btn" disabled data-color="success">@i</button>
                                            <input type="checkbox" class="hidden" value="@i" name="@category.Name" disabled />
                               
                                        }
                                        else
                                        {
                                            <button type="button" class="btn" data-color="success">@i</button>
                                            <input type="checkbox" class="hidden" value="@i" name="@category.Name" />
                                         
                                        }

                                    </span>
                                </div>


                            }

                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4">
                                Quantity Left: <input type="text" class="form-control" disabled value="@category.Quantity"/>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        }
    </div>
</div>

