﻿@model IEnumerable<VoucherSystem.Models.Sale>
@using System.Collections
@using Highsoft.Web.Mvc.Charts
   
<div class="container-fluid">
    <div class="row">
        <h3>Total Revenue: &#8358; @($"{ViewData["TotalRevenue"]:N}")</h3> 
        <a class="btn btn-primary" asp-action="ExportSales">Export</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.Highsoft().Highcharts(
                new Highcharts
                {
                    Chart = new Chart
                    {

                        Type = ChartType.Pie
                    },
                    Title = new Title
                    {
                        Text = "Sales Chart"
                    },
                    Tooltip = new Tooltip
                    {
                        PointFormat = "{series.name}: <b>{point.percentage:.1f}%</b>"
                    },
                    PlotOptions = new PlotOptions
                    {
                        Pie = new PlotOptionsPie
                        {
                            AllowPointSelect = true,
                            Cursor = PlotOptionsPieCursor.Pointer,
                            DataLabels = new PlotOptionsPieDataLabels
                            {
                                Enabled = true,
                                Format = "<b>{point.name}</b>: {point.y}"

                            }
                        }
                    },
                    Series = new List<Series>
                    {

                        new PieSeries
                        {
                            Name = "Sales",
                            Data = ViewData["salesData"] as List<PieSeriesData>
                        }
                    }
                }
                , "chart")
        </div>
        <div class="col-md-6">
            @Html.Highsoft().Highcharts(
                new Highcharts
                {
                    Chart = new Chart
                    {

                        Type = ChartType.Column
                    },
                    Title = new Title
                    {
                        Text = "Revenue Chart"
                    },
                    Tooltip = new Tooltip
                    {
                        PointFormat = "{series.name}: <b>{point.y}</b>"
                    },
                    XAxis = new List<XAxis>
                    {
                        new XAxis
                        {
                            Categories = ViewData["categories"] as List<String>
                        }
                    },
                    PlotOptions = new PlotOptions
                    {
                        Column = new PlotOptionsColumn
                        {
                            AllowPointSelect = true,
                            DataLabels = new PlotOptionsColumnDataLabels
                            {
                                Enabled = true,
                                Format = "{point.y}"

                            }
                        }
                    },
                    Series = new List<Series>
                    {

                        new ColumnSeries
                        {
                            Name = "Revenue",
                            Data = ViewData["revenueData"] as List<ColumnSeriesData>,
                            ColorByPoint = true
                        }
                    }
                }
                , "chart2")
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Sales</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="eventsTable" class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Sales Person</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var sale in Model)
                            {
                                <tr>
                                    <td>@(Model.ToList().IndexOf(sale) + 1)</td>
                                    <td>@sale.SalesPerson</td>
                                    <td>@sale.Category</td>
                                    <td>@sale.Quantity</td>
                                    <td>@sale.TimeStamp</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>